<!-- Input invisible para capturar el scanner -->
<input #hiddenInput style="position:absolute;opacity:0;pointer-events:none;"   inputmode="none"/>

@if (checadorService.isLoading()) {
  <app-loader />
}

<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Personal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Toggle Entrada/Salida -->
  <div class="modo-toggle">
    <div class="toggle-container">
      <button class="toggle-btn" [class.active]="modo() === 'salida'" (click)="cambiarModo('salida')">Salida</button>
      <button class="toggle-btn" [class.active]="modo() === 'entrada'" (click)="cambiarModo('entrada')">Entrada</button>
    </div>
  </div>

  <!-- Input visible que refleja el código -->
  <div class="input-container">
    <ion-input
      class="custom-input"
      label="Código escaneado"
      labelPlacement="stacked"
      [value]="codigoLeido()"
      readonly
    ></ion-input>
  </div>

  <!-- Usuario encontrado -->
  @if (usuario(); as user) {
    <div class="usuario-card">
      @if (user.foto; as foto) {
        <img [src]="getImageSrc(user.foto)" alt="Foto del empleado"/>
      } @else {
        <p class="mensaje-error" style="color: var(--error-color)">El empleado no tiene foto</p>
      }
      <h2>{{ user.nombre }}</h2>
      <p>ID: {{ user.id }}</p>
      <div class="button-group">
        <button class="btn-confirmar" (click)="confirmar()">Confirmar {{ modo() | titlecase }}</button>
        <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
  } @else {
    <div *ngIf="isLoadingPermiso()">
      <div class="spinner-container">
        <ion-spinner name="crescent" class="spinner-verde"></ion-spinner>
        <p class="spinner-text">Verificando permiso del usuario...</p>
      </div>
    </div>
    <div *ngIf="mensajeError()" class="mensaje-error">
      {{ mensajeError() }}
      <div class="button-group button-center">
        <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
      </div>
    </div>
    <div *ngIf="!isLoadingPermiso() && !mensajeError()" class="mensaje-error" style="color: var(--text-color);">
      Escanea a un el código de barras de un empleado
    </div>
  }
</ion-content>
